<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xh.chocolate.common.jpaModule.ClassInCourseDao">

    <insert id="insertClassInCourse" parameterType="Map">
        insert into ClassInCourse(courseId, studentClassId) values (#{courseId}, #{studentClassId})
    </insert>

    <delete id="deleteClassInCourse" parameterType="int">
        delete from ClassInCourse where courseId = #{courseId}
    </delete>

    <select id="selectClassInCourse" parameterType="Map" resultType="map">
        select courseId, studentClassId from classInCourse where
        <choose>
            <when test="courseId != null">
                courseId = #{courseId}
            </when>
            <when test="studentClassId != null">
                studentClassId = #{studentClassId}
            </when>
            <otherwise>
                1 = 2
            </otherwise>
        </choose>
    </select>


</mapper>
