<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xh.chocolate.common.daoModule.SpecialtyDao">

    <insert id="insertSpecialty" parameterType="Map">
        insert into Specialty(specialtyNumber, specialtyName, specialtyInfo) values (#{specialtyNumber}, #{specialtyName}, #{specialtyInfo})
    </insert>

    <delete id="deleteSpecialty" parameterType="int">
        delete from Specialty where id = #{specialtyId}
    </delete>

    <select id="selectSpecialty" parameterType="int" resultType="map">
        select specialtyNumber, specialtyName, specialtyInfo from Specialty where id = #{specialtyId}
    </select>


</mapper>
